* {
    margin: 0;
    padding: 0
}

html {
    background: url(assets/spritesheet/GameOver.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}